@import url("https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC");
html {
    font-family: "Neucha", sans-serif;






}
body{
    background-image:url('IMG/pexels-pixabay-235985.jpg');
}

.title {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
background-color: rgb(0, 0, 0, .5);
align-items: flex-end;
}

header{
    position: absolute; top:0;
    position: absolute; right: 0;
    position: absolute; left: 0;
}





.title h1 {
    font-size: 42px;
    margin-left: 10%;
    margin-right: 10%;
    color: antiquewhite;
    font-weight: 600;
    font-style: italic;
}
.title h2 {
color: antiquewhite;
margin: 45px;
}

.title h3 {
font-size: 15px;
color: red;
cursor: pointer;
    }

.textArea {
    margin-left: 10%;
    margin-right: 10%;
    line-height:2em;
    margin-top: 75px;
    font-size: 25px;

}

/* Paper buttons css by PaperCSS */
button { 
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 20px;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.titleFlex {
    display: flex;
    flex-direction: row;
}


.buttons{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    margin-top: 100px;
}


  
.restart {
    background: red;
    padding: 15px 22px;
    margin-left: 50%;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 15px;
}

.myChoices{
text-align: center;
    font-size: 18px;
    line-height: 2;
    margin-top: 0%;
}

h3 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
}
.flexArea
{    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    margin-top:125px;
}

.appSec{
    width:85%;
    height: 1500px;
    
}
.choiceArea {
    width:15%;
    background: white;
    padding: 20px;
    position: relative;
    box-shadow: 5px 20px 10px 2px rgba(0,0,0,.4);
    margin-top: 75px;
    margin-right: 30px;
    height: 650px;
}
.choiceArea::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 20px;
    width: 100%;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/rip.svg) bottom center;
    background-size: 80%;
    
}
 .paperclass{   /*Stolen Paper css + Svg from https://css-tricks.com/lodge/svg/06-using-svg-svg-background-image/ */
    background: white;
    width: 100%;
    padding: 20px;
    position: relative;
    box-shadow: 5px 15px 10px 2px rgba(0,0,0,.4);
  }

  
  .paperclass::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 20px;
    width: 100%;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/rip.svg) bottom center;

    background-size: 40%;
    
  }

body footer{
    background-color: rgb(0, 0, 0, .5);
    color: antiquewhite;
    padding-left: 20px;
    padding-top: 5px;
    position: absolute; right: 0;
    position: absolute; left: 0;
}

.footy H4 {
    font-size: 30px;
}

.footy p {
    font-size: 20px;
}

.footy a {
    text-decoration: none;
        color: red;
}

.footy a:hover {
    text-decoration: none;
    color: royalblue;
}

 @media (max-width: 1150px){
.textArea {
    font-size: 20px;
}
    .title h1 {
        font-size: 32px;
        margin-left: 5%;
        margin-right: 5%;

    }
    .title h2 {

    margin: 35px;
    }
    
    .title h3 {
    font-size: 10px;
        }


 }

 @media (max-width: 700px){
    .textArea {
        font-size: 15px;

        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
        .title h1 {
            font-size: 25px;
            margin-left: 5%;
            margin-right: 5%;
    
        }
        .title h2 {
            font-size: 15px;
    
        }
        #titleText {
display:none
        }
        
        .title h3 {
        font-size: 10px;
        margin-left: 25%;
            }
    
            .appSec{
                width:95%;
                height: auto;


position: relative;
     }
     .flexArea
{
    flex-direction: column;
    flex-wrap:wrap;
    margin-top:75px;
}
.choiceArea {
    width:85%;

margin-left: auto;
margin-right: auto;

    height: 650px;
    margin-bottom: 150px;
}


    }



/* https://css-tricks.com/lodge/svg/06-using-svg-svg-background-image/

https://codepen.io/pnbkn/pen/qBZmQrQ

https://www.youtube.com/watch?v=avo71iW9mI4 */
