html {
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}
body{
    background-color: #F5E8D1;
}
.title {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
background-color: #6D8AA8;
}

.title h1 {
    font-size: 42px;
    margin-left: 10%;
    color: #D0E2F5;
    font-weight: 600;
    font-style: italic;
}
.title h2 {
color: #D0E2F5;
margin: 45px;
}
.textArea {
    margin-left: 10%;
    margin-right: 10%;
    line-height:2em;
    margin-top: 150px;
    font-size: 20px;

}
.buttons{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    margin-top: 100px;
}

  button {
    display: block;
    padding: 35px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: #6D8AA8;
    color: white;
border-color: grey;
cursor:pointer;
  }
  
.restart {
    background: red;
    padding: 15px 22px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}